
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.XM-center{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.XM-firstpage{
    background-image: url(./images/IMAGEXM-background.png);
    background-size: 100% 100%;
}
.XM-navbar .XM-center .XM-nav-items{
    display: flex;
    align-items: center;
    gap: 200px;
    padding-top: 6px;
    padding-bottom: 23px;
}
.XM-navbar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 4;
    background-color: white;
}

.XM-navbar .XM-center .XM-nav-items ul{
    display: flex;
    gap: 30px;
}
.XM-navbar .XM-center .XM-nav-items ul li{
    list-style: none;
}
.XM-navbar .XM-center .XM-nav-items ul li a{
    text-decoration: none;
    font-weight: 400;
font-size: 15px;
line-height: 1px;
letter-spacing: 0.2px;
text-transform: lowercase;
color: #222222;
}
.XM-navbar .XM-center .XM-nav-items ul li:hover a{
   padding: 5px 10px;
   border-radius: 10px;
   color: #012D39;
   transition: all 0.7s ease;
   background-color: #C02062;
}
.XM-navbar .XM-center .XM-nav-items ul li .XM-demos{
    font-weight: 400;
font-size: 15px;
line-height: 1px;
letter-spacing: 0.2px;
text-transform: lowercase;
color: #FD8558;
}
.XM-firstpage{
    margin-top: 77px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.XM-firstpage h1{
    font-weight: 400;
font-size: 70px;
line-height: 85px;
text-align: center;
color: #FFFFFF;
}
.XM-firstpage .XM-start{
    font-weight: 700;
font-size: 15px;
line-height: 30px;
color: #FFFFFF;
padding: 13px 39px;
margin-top: 41px;
background-color: #FD8558;
margin-right: 28px;
border: none;
margin-left: 130px;
}
.XM-firstpage .XM-see{
    font-weight: 700;
font-size: 15px;
line-height: 30px;
color: #FFFFFF;
padding: 13px 39px;
margin-top: 41px;
background-color: transparent;
border:1px solid #FD8558;
}
.XM-firstpage .XM-start:hover{
    cursor: pointer;
    transition: all 0.7s ease;
    border-radius: 15px;
    background-color: #C02062;
    border: none;
}
/* button:hover{
    cursor: pointer;
    background-color: #182e52;
    border-radius: 15px;
    transition: all 0.7s ease;
    border: none;
} */
.XM-firstpage .XM-see:hover{
    cursor: pointer;
    transition: all 0.7s ease;
    border-radius: 15px;
    background-color: #C02062;
    border: none;
}
.XM-firstpage .XM-positionimg .XM-crest{
    position: absolute;
    bottom: 100px;
    left: 97px;
}
.XM-firstpage .XM-positionimg .XM-topl{
    position: absolute;
    top: 0px;
    left: 0px;
}
.XM-firstpage .XM-positionimg .XM-downr{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.XM-firstpage .XM-positionimg .XM-planet{
    position: absolute;
    top: 14px;
    right: 140px;
}
.XM-firstpage .XM-positionimg .XM-circle{
    position: absolute;
    top: 132px;
    z-index: 1;
    right: 450px;
}
.XM-design{
    position: static;
    z-index: 2;
}
.XM-firstpage .XM-positionimg .XM-dc{
    position: absolute;
    top: 176px;
    z-index: 0;
    right: 470px;
}
.XM-firstpage .XM-positionimg .XM-screst{
    position: absolute;
    top: 405px;
    right: 112px;
.md-about{
    width: 100%;

}
.md-center{
    width: 80%;
    margin: auto;
}
.md-head{
    width: 100%;
  

}
.md-head img{
    position: absolute;
    left: 0px;
    top: 40px;
    width: 30%;
    height: 20vh;
}
.md-us{
    margin-top: 30%;
    display: flex;
    justify-content: space-between;
}
.md-ultimate{
    width: 35%;
}
.eros{
    width: 45%;
}
.md-ultimate h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: #333333;
}
.md-ultimate h5{
    list-style-type: none;
  
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: red;
}
.md-ultimate a{
    text-decoration: none;
}
.md-ultimate h5:hover{
    color: green;
}
.eros h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
}
.eros p{
    margin-top: 11px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 26px;
color: #999999;
}
.md-our{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.md-pic img{
    margin-left: 50px;
}
.mission{
    margin-top: 80px;
    width: 30%;
}
.mission h1{
   margin-bottom: 70px; 
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 45px;
color: #222222;
}
.mission span{
    color: red;
}
.mission h2{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
color: #222222;
margin-bottom: 20px;

}
.mission h5{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
letter-spacing: 1.8px;
color: #CACACA;
}
.digital{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}
.solution{
    text-align: center;
    width: 30%;
}
.solution img{
    margin-bottom: 21px;
}
.solution h1{
    margin-bottom: 16px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 38px;
color: #333333;

}
.solution p{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 26px;
text-align: center;
color: #999999;
margin-bottom: 100px;
}
.md-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.md-kat{
    width: 42%;
    height: 1px;
    background-color: gray;
   
}


.iscontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #3A0F73;
}
.iscenter{
    width: 80%;
    padding: 70px 0px 215px 0px;
}
.iscenter h1{
    width: 100%;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 200px;
line-height: 220px;
text-align: center;
color: rgba(170, 170, 170, 0.1);
}
.iscenter p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
padding: 44px 0px 64px 0px;
}

.isceo{
    display: flex;
    justify-content: center;
}
.isceo h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;  
    margin-left: 15px;  
  margin-top: 15px;
}
.iscontainer2{
    width: 100%;
    display: flex;
    justify-content: center;  
}
.iscenter2{
    width: 80%;
    padding: 122px 0px 120px 0px;
}
.iscenter2 h2{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FD8558;    
}
.iscenter2 h1{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #222222;   
    padding: 45px 0px 26px 0px; 
}
.is2022{
    display: flex;
    justify-content: space-between;
    margin-bottom: 115px;
}

.islive{
    display: flex;
    gap: 15px;
    padding: 28px 0px 20px 0px;
}
.ismarch p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #FD8558;    
}
.islive span{
    font-family: 'Poppins';
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #999999;
}
.ismarch h3{
    font-family: 'Poppins';
font-weight: 400;
font-size: 24px;
line-height: 33px;
color: #222222;
padding-bottom: 36px;
}
.istottenham{
display: flex;
}
.isleft2{
    width: 30%;
}
.isleft2 a{
    text-decoration: none; 
    color: #222222;
}
.isleft2 a:hover{
    color: #FD8558;
}
.isleft2 p{  
font-family: 'Poppins';
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
color: rgba(34, 34, 34, 0.4);
}

.isleft2 h3{
    font-family: 'Poppins';
font-weight: 400;
font-size: 24px;
line-height: 33px;
color: #222222;
padding-bottom: 45px;
}
.isright2{
    width: 70%;
}
.isyour .isfff {
    display: flex;
justify-content: space-between;
margin-bottom: 30px;
}
.isyour #yname{
    padding: 18px 0px 19px 0px;
    width: 47%;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #999999;    
background: #FFFFFF;
border: 1px solid #EEEEEE;  
cursor: pointer;
}
.isyour #mass{
    padding: 20px 0px 87px 0px;
    width: 100%;
    font-family: 'Poppins';
font-weight: 400;
font-size: 14px;
line-height: 21px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
color: #999999;  
cursor: pointer;
}

.issend{
    padding-top: 65px;
}
.issend button{
    border: none;
    padding: 18px 38px;
    font-family: 'Poppins';
font-weight: 700;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
background: #FD8558;
cursor: pointer;
}
.issend button:hover{
    background: #999999;
}

.iscontainer3{
    width: 100%;
    display: flex;
   justify-content: center;
   background: #111111;
}
.iscenter3{
    width: 80%;
    padding: 93px 0px 80px 0px;
}
.isblack{
    display: flex;
    justify-content: center;
}
.isblack{
    display: flex;
    justify-content: space-between;
}
.isanow{
    width: 40%;
}
.isanow h1{  
font-family: 'Poppins';
font-weight: 400;
font-size: 40px;
line-height: 52px;
color: #FFFFFF;
margin-bottom: 27px;
}
.isnomer{
display: flex;
gap: 10px;

}
.isnomer p{
font-family: 'Open Sans';
font-weight: 400;
font-size: 15px;
line-height: 22px;
color: rgba(255, 255, 255, 0.6);
}
.isnomer p a{
    text-decoration: none;
    font-family: 'Open Sans';
font-weight: 400;
font-size: 14px;
line-height: 22px;
color: rgba(255, 255, 255, 0.6);
cursor: pointer;
}
.isnomer p a:hover{
    color: #FD8558;
}
.ishome{
    width: 20%;
}
.ishome h2{
font-family: 'Poppins';
font-weight: 400;
font-size: 24px;
line-height: 31px;
color: #FFFFFF;
padding-bottom: 19px;
}
.ishome ul li{
    padding-bottom: 9px;
    list-style: none;
}
.ishome ul li a{
    text-decoration: none;
    font-family: 'Poppins';
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #BABABA;
cursor: pointer;
}
.ishome ul li a:hover{
    color: #FD8558;
}
.isposli{
   margin-top:  70PX;
}
.isposli H3{
font-family: 'Poppins';
font-weight: 400;
font-size: 15px;
line-height: 30px;
text-align: center;
letter-spacing: 0.3px;
color: #BABABA;
}
.isposli span{
    color: #FFFFFF;
}


